html, * {
  font-family: helvetica;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../img/godzilla2014_fanart_godzilla_attacks.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
 
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}

section:hover{
    border: 3px silver solid;
    background: blue;
    color: white;
}
section {
    border: 3px solid black;
    /* align-items: left; */
    padding: 10px;
}

section:last-of-type{
    margin-right: 1rem;
}


button {
    background: none;
    border: 3px solid black;
    padding: 13px;
}

button:hover{
    background: blue;
    color: white;
    border: 3px solid black;
}
header {
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
}
#container > article {
    padding: 30px;
    border: 3px solid black;
}

#container{
    display: flex;
    justify-content: center;
}
#container > article {
    padding: 30px;
    border: 3px solid black;
}
.keep{
   border: 3px solid red; 
}
.dead{
    background: red!important;
}



.health:before{
    content: 'Health: ';
    font-size: .85rem;
}

.vp:before{
    content: 'VP: ';
    font-size: .85rem;
}

.loc:before{
    content: 'Location: ';
    font-size: .85rem;
}

.energy:before{
    content: 'Energy: ';
    font-size: .85rem;
}

.dice{
    background-size: 100%;
    width: 50px;
    height: 50px;
    color: transparent;
}

.dice_1{
    background-image: url('../img/dice1.jpg');
}

.dice_2{
    background-image: url('../img/dice2.jpg');
}

.dice_3{
    background-image: url('../img/dice3.jpg');
}

.dice_attack{
    background-image: url('../img/diceAttack.jpg');
}

.dice_health{
    background-image: url('../img/diceHealth.jpg');
}

.dice_energy{
    background-image: url('../img/diceEnergy.jpg');
}
article{
    font-weight: 800;
    background-color: rgba(204, 198, 198, 0.377);
    
}

.username{
    font-size: 25px;
}

